$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #000;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #000;
$color__text-input-focus: #000;
$color__link: #cf3140;
$color__link-hover: #2e2e2e;
$color__text-main: #929292;
$color__text-heading: #2e2e2e;

$color__border-button: #000;
$color__border-button-hover: #cf3140;
$color__border-button-focus: #cf3140;
$color__border-input: #000;
$color__border-input-focus: #cf3140;
$color__border-abbr: #666;

$color_theme-color: #cf3140;
$color_theme-hover-color: #2e2e2e;

$color_background_footer-widgets: #000;
$color_background_footer-site-info: #1b1b1b;
