$font__site-title: 'Pacifico', cursive;
$font__main: 'Oxygen', sans-serif;
$font__heading: 'Raleway', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.8;
$font__line-height-header: 1.26;
$font__line-height-pre: 1.6;
$font__regular: 400;
$font__semi-bold: 600;
