html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
    vertical-align: middle;
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

.dark-version strong,
.dark-version b {
	color: #fff;
}

.first-letter:first-letter {
	float: left;
	font-size: 96px;
	font-size: 6rem;
	line-height: 0.6;
	margin: 6px 16px 6px -3px;
}

.first-letter {
    display:inline-block;
}

@import "tables";
