h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin: 0 0 20px;
	font-family: $font__heading;
	color: $color__text-heading;
	line-height: $font__line-height-header;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

.dark-version .entry-content {
	h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}